{% set target = ""%}
<ul class="items-menu">
{% for item in fields %}

    {% if item.is_expanded == true %}        
        <li class="item-link"><a href= "#">{{item.title|render|striptags|trim}}</a>
            <ul class="items-menu nivel2">
                {% for below in item.below %}
                    {% if item.url.external == true %}
                        {% set target = "_blank" %}
                    {% else %}
                        {% set target = "_self" %}
                    {% endif %}
                    <li class="item-link"><a href= "{{below.url}}" target="{{target}}">{{below.title|render|striptags|trim}}</a></li>    
                {% endfor %}
            </ul>
        </li>
    {% else %}
        {% if item.url.external == true %}
            {% set target = "_blank" %}
        {% else %}
            {% set target = "_self" %}
        {% endif %}
        <li class="item-link"><a href= "{{item.url}}" target="{{target}}">{{item.title|render|striptags|trim}}</a></li>
    {% endif %}
{% endfor %}
</ul>