{% set imagen = fields.field_imagen_de_card.content %}
{% set startTag = 'src="' %}
{% set endTag = '"' %}
{% set startPos = imagen|split(startTag) %}
{% set endPos = startPos[1]|split(endTag) %}
{% set href = endPos[0]|trim %}

<div class="booking-card" style="background-image: url({{href}})">
    <div class="book-container">
        <div class="content">
            <a href="{{fields.field_enlace_de_reserva.content|render|striptags|trim}}" class="btn btn-secondary" target="_blank">RESERVEER</a>
        </div>
    </div>
    <div class="informations-container">
        <h2 class="title">{{ fields.field_texto_de_horario.content|render|striptags|trim }}</h2>
        <div class="more-information">
            <div class="info-and-date-container">
                <a class="box info" href="{{fields.field_enlace_por_hora.content|render|striptags|trim}}" target="_blank">
                    <i class="bi bi-hourglass-top"></i>
                    <p>Per uur</p>
                    <span><i class="bi bi-cash"></i>{{fields.field_valor_por_hora.content|render|striptags|trim}} €</span>
                </a>
                <a class="box info" href="{{fields.field_enlace_por_juego.content|render|striptags|trim}}" target="_blank">
                    <i class="icon bi bi-joystick"></i>
                    <p>Per spel pp</p>
                    <span><i class="bi bi-cash"></i>{{fields.field_valor_por_juego.content|render|striptags|trim}} €</span>
                </a>
            </div>
            <h3 class="title">{{fields.field_texto_complementario.content|render|striptags|trim}}</h3>
        </div>
    </div>
</div>